{% extends 'layouts/layout-admin.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
	<div class="admin__page__title">
		<h1>{{ title }}</h1>
		<p>
			Gérer les différents emprunts des utilisateurs, à valider ou à refuser.
		</p>
	</div>
{% endblock %}