<footer class="footer">
    <div class="footer__about">
        <p>A propos de</p>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="#">Nous contacter</a></li>
            <li><a href="#">Spécialités</a></li>
            <li><a href="/?action=search">Rechercher un praticien</a></li>
        </ul>
    </div>
    <div class="footer__misc">
        <p>Divers</p>
        <ul>
            <li><a href="#">Besoin d'aide ?</a ></li >
            <li ><a href="#">A propos </a ></li >
            <li><a class="clickable" id="lien-connexion">Se connecter </a ></li >
            <li><a class="clickable" id="lien-inscription">S'inscrire</a></li>
        </ul>
    </div>
    <div class="footer__social">
        <p>Suivez-nous</p>
        <ul>
            <li><a href="https://twitter.com/">Twitter</a></li>
            <li><a href="https://facebook.com/">Facebook</a></li>
            <li><a href="https://linkedin.com/">Linkedin</a></li>
            <li><a href="https://youtube.com/">YouTube</a></li>
        </ul>
    </div>
    <div class="footer__access">
        <p>Accès</p>
        <ul>
            <li><a href="/?action=my-account">Mon compte</a></li>
            {% if userLogged %}
					<li><a href="/?action=my-account&nav=intervenant">Devenir praticien</a></li>
				{% else %}
					<li><a href="/?action=inscription-intervenant">Devenir praticien</a></li>
				{% endif %}
            
            <li><a href="#">Personnel administratif</a></li>
            <li><a href="#">Administrateur</a></li>
        </ul>
    </div>
</footer>
<section class="footer__pre">
    Projet Sujet 2 G.A.P.M. - M. Gagné • Christopher D, Louis L, Frédéric D., Mathieu M. Valentin, Taisong, Enolah, Joël.
</section>