<section class="popup">
    <i class="cross"></i>

    <section class="popup-container">
        <h1 class="text__underline-light">Connexion</h1>
        <form method="POST" action="/?action=login">
            <p>Vous n'avez pas de compte ? <a class="link" id="openPopUpInsc">Inscrivez-vous .</a></p>
            <div class="popup-container-col">
                <div class="input-container">
                    <i class="icon icon-fi-rr-at"></i>
                    <input placeholder=" "  id="loginPopUp" name="email" class="input" type="email" required/>
                    <label class="label" for="loginPopUp">Votre adresse e-mail</label>
                </div>
                <div class="input-container">
                    <i class="icon icon-fi-rr-key"></i>
                    <input id="mdpPopUp" name="password" class="input" type="password" required/>
                    <label class="label" for="mdpPopUp">Votre mot de passe</label>
                    <i class="icon icon-fi-rr-eye-crossed js-iconEyePassword"></i>
                </div>
            </div>
            {% if message is not empty and containerMessage is not empty and containerMessage == "connexion" %}
                <p class="error">{{ message }}</p>
            {% endif %}
            <p class="italic">Mots de passe oublié ? Cliquez <a href="/?action=oubli" class="link">ici</a></p>
            <button class="btn btn-primary-nb" type="submit">
                <i class="icon-w icon-fi-rr-user"></i>
                Se connecter
            </button>
        </form>
    </section>

</section>