<section class="popup popup-inscription">
    <i class="cross"></i>

    <section class="popup-container">
        <h1 class="text__underline-light">Inscription</h1>
        <form method="post" action="?action=register-user">
            <p>Vous êtes praticien ? <a href="?action=inscription-intervenant" class="link">Voir Formulaire</a></p>

            <div class="popup-container-row">
                <div class="input-container">
                    <i class="icon icon-fi-rr-text"></i>
                    <input id="first-namePopUp" class="input" type="text" name="firstname" required/>
                    <label class="label" for="first-namePopUp">Prénom</label>
                </div>
                <div class="input-container">
                    <i class="icon icon-fi-rr-text"></i>
                    <input id="namePopUp" class="input" type="text" name="lastname" required/>
                    <label class="label" for="namePopUp">Nom</label>
                </div>
            </div>

            <div class="popup-container-row">
                <div class="input-container">
                    <i class="icon icon-fi-rr-at"></i>
                    <input id="e-mailPopUp" class="input" type="email" name="mail" placeholder=" " required/>
                    <label class="label" for="e-mailPopUp">Email</label>
                </div>
                <div class="input-container">
                    <i class="icon icon-fi-rr-calendar"></i>
                    <input id="birthdayPopUp" class="input" type="date" name="birthday" required/>
                    <label class="label" for="birthdayPopUp">Date de naissance</label>
                </div>
            </div>
            <div class="popup-container-row">
                <div class="input-container">
                    <i class="icon icon-fi-rr-home-location-alt"></i>
                    <input id="adressPopUp" class="input" type="text" name="address" required/>
                    <label class="label" for="adressPopUp">Adresse (Numéro, Rue)</label>
                </div>
            </div>
            <div class="popup-container-row">
                <div class="input-container">
                    <i class="icon icon-fi-rr-map-marker"></i>
                    <input id="villePopUp" class="input AC input_ville" type="text" required/>
                    <label class="label" for="villePopUp">Ville</label>
                    <input id="hiddenValueCityPopUp" name="city" type="number" hidden="hidden"/>
                    <div class="notVisible auto_completion"></div>
                    <span class="code_postal"></span>
                </div>
                <div class="input-container">
                    <i class="icon icon-fi-rr-venus-mars"></i>
                    <select id="sexePopUp" class="input" type="text" name="sexe" required>
                        <option value="" disabled selected>-- Choisir</option>
                        <option value="M">Homme</option>
                        <option value="F">Femme</option>
                        <option value="A">Autre</option>
                    </select>
                    <label class="label" for="sexePopUp">Sexe</label>
                </div>
            </div>
            <div class="popup-container-row">
                <div class="input-container">
                    <i class="icon icon-fi-rr-key"></i>
                    <input id="mdp-inscPopUp" class="input" type="password" name="password" required/>
                    <label class="label" for="mdp-inscPopUp">Mot de passe</label>
                    <i class="icon icon-fi-rr-eye-crossed js-iconEyePassword"></i>
                </div>
                <div class="input-container">
                    <i class="icon icon-fi-rr-phone-call"></i>
                    <input id="telPopUp" class="input" type="text" name="phone" required/>
                    <label class="label" for="telPopUp">Téléphone</label>
                </div>
            </div>
            {% if message is not empty and containerMessage is not empty and containerMessage == "inscription" %}
                <p class="error">{{ message }}</p>
            {% endif %}
            <button class="btn btn-primary-nb" type="submit">
                <i class="icon-w icon-fi-rr-user-add"></i>
                S'inscrire
            </button>
        </form>

    </section>
</section>