/* Bouton par défaut */
.btn {
  text-decoration : none;
  font-family     : 'Poppins', sans-serif;
  font-weight     : 400;
  font-size       : 18px;
  line-height     : 33px;
  color           : $black;
  border-radius   : $borderRadius;
  background-size : 200% 100%;
  padding         : .59rem 1.48rem;
  box-shadow      : $boxShadowOut;
  display         : block;
  width           : fit-content;
  transition      : all .5s ease-in-out;
  text-align      : center;
  cursor          : pointer;

  /* Bouton Primaire - Bleu foncé vers bleu clair */
  &.btn-primary {
    border           : none;
    color            : $white;
    background-image : $gradientDarkToLight;
  }

  &.btn-primary-nb {
    border           : none;
    border-radius    : 10px;
    color            : $white;
    background-image : $gradientDarkToLight;
  }

  &.btn-secondary {
    border           : none;
    color            : $primaryDark;
    background-image : $gradientSecondaryToLight;
  }

  &.btn-secondary-nb {
    border           : none;
    border-radius    : 10px;
    color            : $primaryDark;
    background-image : $gradientSecondaryToLight;
  }

  svg {
    vertical-align : text-top;
  }

  &:hover {
    background-position : 100% 0;
  }

  &:focus {
    outline    : none;
    box-shadow : $boxShadowIn;
  }
}