/* Bouton par défaut */
.btn {
  text-decoration : none;
  font-family     : 'Poppins', sans-serif;
  font-weight     : 400;
  font-size       : 18px;
  line-height     : 33px;
  color           : $black;
  border-radius   : $borderRadius;
  background-size : 200% 100%;
  padding         : .59rem 1rem;
  //box-shadow      : $boxShadowOut;
  display         : flex;
  align-items     : center;
  justify-content : center;
  width           : fit-content;
  transition      : all .2s ease-in-out;
  text-align      : center;
  cursor          : pointer;


  /* Bouton Primaire - Bleu foncé vers bleu clair */
  &.btn-primary {
    color            : $white;
    background-color : $primaryLight;
    border: 2px solid transparent;

    &:hover{
      background-color : $primaryDark;
      border-color: $primaryLight;
    }
  }

  &.btn-primary-nb {
    border-radius    : 10px;
    color            : $white;
    background-color : $primaryLight;
    border: 2px solid transparent;
    &:hover{
      border-color : $primaryLight;
      background-color : $primaryDark;
    }
  }

  &.btn-secondary {
    border           : none;
    color            : $primaryDark;
    background : $white;
  }

  &.btn-secondary-nb {
    border-radius    : 10px;
    color            : $white;
    background : $secondary;
    border: 2px solid transparent;

    &:hover{
      border-color : $secondary;
    }
  }

  &.btn-greenLight {
    border           : none;
    color            : $primaryDark;
    background-color : $greenLight;

  }

  &.btn-greenPrimary {
    border           : none;
    color            : $white;
    background-color : $greenPrimary;
  }

  &.btn-red {
    border           : none;
    color            : $white;
    background : #be2626;
    &:hover{
      background-color : #a21f1f;
    }
  }
  &.btn-yellow{
    border           : none;
    color            : $white;
    background : #dcbb33;
    &:hover{
      background-color : #c5a22e;
    }
  }

  svg {
    vertical-align : text-top;
  }

  &:focus {
    outline    : none;
    //box-shadow : $boxShadowIn;
  }

  i {
    margin-right : calc(1.48rem / 2);
  }
}