/* Header + Navbar */
.header {
  &__nav {
    position         : fixed;
    width            : 100%;
    z-index          : 10;
    background-color : $white;
    display          : flex;
    top              : 0;
    align-items      : center;
    justify-content  : space-between;
    box-shadow       : $boxShadowOut;
    transition       : all .3s ease-in-out;
    height           : 100px;
    @include max-width($screenMd) {
      display : none;
    }


    &.transparent {
      background-color : transparent;
      box-shadow       : none;
      transition       : all .3s ease-in-out;

      .menu-left, .menu-right {
        li a {
          color : $white !important;

          &::after {
            background-color : $white !important;
          }
        }
      }
    }

    &.down {
      height : 80px;
    }
  }

  &__mobile {
    display : none;
    @include max-width($screenMd) {
      display : flex;
    }
  }

  &__menu {
    &.menu-left {
      margin-left : 5em;
      display     : flex;
      align-items : center;
      @include max-width($screenLg) {
        margin-left : 1em;
      }

      li {
        a {
          @include nav-link;
        }

        &:not(:last-child) {
          margin-right : 1.5em;
        }
      }
    }

    &.menu-right {
      margin-right : 5em;
      display      : flex;
      align-items  : center;
      @include max-width($screenLg) {
        margin-right : 1em;
      }

      li {
        a {
          &.dropdown-item {
            color : $white;
          }

          &.link {
            @include nav-link;
          }
        }

        &.dropdown {
          position : relative;
          padding  : 1rem 0;

          .dropdown-icon{
            margin-left: 1rem;
            margin-right: 0;
          }

          &:hover {
            .menu-dropdown {
              opacity    : 1;
              visibility : visible;
              transform  : translateY(0);
            }
          }
        }
        &:not(:last-child) {
          margin-right : 1.5em;
        }
      }

      .menu-dropdown {
        position         : absolute;
        top              : 100%;
        left             : 0;
        width            : 100%;
        background-color : white;
        border-radius    : 10px;
        box-shadow       : 0px 2px 4px rgba(0, 0, 0, 0.45);
        box-sizing       : border-box;
        overflow         : hidden;
        opacity          : 0;
        transition       : all .2s ease-in-out;
        visibility       : hidden;
        transform        : translateY(-10px);

        li {
          margin-right: 0;

          a {
            margin          : 0 !important;
            display         : flex;
            justify-content : flex-start;
            align-items     : center;
            color           : #787878 !important;
            font-size       : 1rem;
            font-family     : $mainFont;
            text-decoration : none;
            padding         : 0.9rem 1rem;
            flex            : 1;
            transition      : all .3s ease-in-out;

            &:hover {
              color            : $primaryDark !important;
              background-color : #F6F6f6;
            }

            i {
              margin-right : 1rem;
            }
          }

          &.--logout {
            a {
              color : $redDark !important;
            }

            i {
              background              : $redDark;
              background-clip         : border-box;
              -webkit-background-clip : text;
              -webkit-text-fill-color : transparent;
            }
          }

          &:not(:last-child) {
            border-bottom : 1px solid #E6E6E6;
          }
        }
      }
    }
  }

}

.header {
  &__mobile {
    position        : fixed;
    width           : 100%;
    z-index         : 50;
    box-sizing      : border-box;
    top: 0;
    justify-content : space-between;
    align-items     : center;
    background      : $white;
    transition      : all .3s ease-in-out;
    height          : 100px;
    box-shadow      : $boxShadowOut;
    @include px(2);
    @include py(1);

    &.transparent {
      background-color : transparent;
      box-shadow       : none;

      .header__mobile__menu-btn {
        span {
          background-color : $white;
        }
      }

      .header__mobile__logo {
        h1 {
          color : $white;

          &.text__underline::after {
            height     : 0;
            transition : all .3s ease;
          }
        }
      }

    }

    &::before {
      content          : '';
      position         : absolute;
      top              : 0;
      left             : 0;
      width            : 100vw;
      height           : 100vh;
      background-color : rgba(30, 30, 61, 0.82);
      z-index          : 10;
      opacity          : 0;
      visibility       : hidden;
      transition       : all .3s ease-in-out;
    }

    &.--fade {
      &::before {
        opacity    : 1;
        visibility : visible;
      }
    }

    &.down {
      background-color : $white;
      height           : 80px;
      box-shadow       : $boxShadowOut;
    }

    .header__mobile__menu-btn {
      span {
        background-color : $primaryLight;
      }
    }

    .header__mobile__logo {
      h1 {
        color : $primaryLight;

        &.text__underline::after {
          height     : 0;
          transition : all .3s ease;
        }
      }
    }

    &__logo {
      h1 {
        color     : $white;
        font-size : 2.6rem;
        position  : relative;
      }
    }

    &__menu {
      position : relative;

      &-btn {
        cursor     : pointer;
        padding    : .5rem;
        box-sizing : border-box;
        position   : relative;
        z-index    : 0;

        span {
          display          : block;
          width            : 45px;
          height           : 4px;
          background-color : $white;
          margin           : 10px 0;
          border-radius    : 15px;
          transition       : all .3s ease-in-out;

          &:last-child {
            width : 22.5px;
          }
        }
      }

      &:hover {
        span {
          width : 22.5px;

          &:last-child {
            width : 45px;
          }
        }
      }


      &-content {
        position         : fixed;
        top              : 0;
        left             : 0;
        width            : 20rem;
        height           : 100vh;
        background-color : $white;
        z-index          : 100;
        transform        : translateX(-100%);
        transition       : all .3s ease-in-out;

        .close-menu {
          font-family     : $titleFont;
          font-weight     : 600;
          font-size       : 1em;
          cursor          : pointer;
          display         : flex;
          align-items     : center;
          justify-content : flex-start;
          padding         : 1rem 2rem;
          margin-top : 1rem;

          svg {
            margin-right : 1rem;
          }
        }

        &.--open {
          transform : translateX(0);

          &::before {
            opacity    : 1;
            visibility : visible;
          }
        }
      }

      &-list {
        li {
          padding : 1rem 2rem;

          a {
            font-size       : 1.2rem;
            font-weight     : 600;
            text-decoration : none;
            display         : flex;
            align-items     : center;
            justify-content : flex-start;
            font-family     : $mainFont;
            color           : $primaryDark;
            position        : relative;
            width           : fit-content;

            svg {
              margin-right : 1rem;
            }

            &:after {
              content          : '';
              position         : absolute;
              width            : 0;
              bottom           : -15px;
              height           : 4px;
              border-radius    : 5px;
              background-color : $primaryLight;
              transition       : all .3s ease-in-out;
            }

            &:hover {
              color : $primaryLight;

              &:after {
                width : 50%;
              }
            }


          }
        }

        &:last-child {
          margin-top : 2rem;
          .--logout{
            position: absolute;
            bottom: 2rem;
            i{
              @include icon-color($redDark);
              margin-right : 1rem;
            }
            a{
              color : $redDark;
              font-weight: 400;
              font-size: 1rem;
              &:after{
                background-color: transparent;
                height: 1px;
              }
            }
          }
        }
      }

    }
  }
}