.input-container {
  font-family      : $titleFont;
  position         : relative;
  box-shadow       : 0px 2px 4px rgba(0, 0, 0, 0.38);
  border-radius    : 10px;
  width            : fit-content;
  display          : flex;
  flex-direction   : row;
  align-items      : center;
  justify-content  : space-between;
  font-size        : 18px;
  overflow         : hidden;
  padding-right    : 1rem;
  background-color : $white;

  .js-iconEyePassword {
    z-index : 1;
  }

  i {
    margin : 0 1rem;
  }


  .input {
    border       : 0;
    outline      : none;
    transition   : .1s ease-in-out;
    box-sizing   : border-box;
    width        : 100%;
    height       : 3.2rem;
    font-size    : 1rem;
    padding-top  : .6rem;
    padding-left : 0;

    &:valid, &:focus, &.input[type="email"]:not(:placeholder-shown) {
      & + label {
        color          : grey;
        font-size      : .8rem;
        top            : -15px;
        pointer-events : none;
        font-family    : $titleFont;
      }
    }
  }

  select.input {
    & + label {
      color          : grey;
      font-size      : .8rem;
      top            : -15px;
      pointer-events : none;
    }
  }


  input[type="date"]:not(:focus):not(:valid) {
    color : transparent;
  }

  span.code_postal {
    color : $primaryDark;
  }


  .label {
    top         : 0;
    left        : calc(2rem + 25px);
    right       : 0;
    display     : flex;
    align-items : center;
    position    : absolute;
    font-size   : 1rem;
    cursor      : text;
    transition  : .1s ease-in-out;
    box-sizing  : border-box;
    height      : 3rem;
    color       : $greyDark;
  }
}

select {
  background-color : $white;
}

input, select, option, textarea {
  font-family : $mainFont;
}

#tag-container {
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : flex-start;
  width           : 90%;
  font-family     : $mainFont;
  font-size       : 1.1em;

  p {
    font-weight : 600;
    color       : $greyDark;
  }

  .container {
    display     : flex;
    flex-wrap   : wrap;
    align-items : center;
    width       : 100%;
    margin-top  : .5rem;

    .tag {
      display          : flex;
      justify-content  : center;
      align-items      : center;
      background-color : $white;
      box-shadow       : 0px 2px 4px rgba(0, 0, 0, 0.38);
      padding          : 0.5em;
      border-radius    : 10px;
      font-size        : 1em;
      font-family      : $mainFont;
      color            : $greyDark;
      user-select      : none;
      margin-top       : 0.5rem;

      &:not(:last-child) {
        margin-right : 0.5rem;
      }


      &-close {
        cursor      : pointer;
        font-size   : 1.5em;
        margin-left : 0.8rem;
      }

      &-close:hover {
        @include icon-color($primaryDark);
      }
    }
  }
}

#auto_completion {
  position         : absolute;
  top              : 2.6rem;
  left             : 0;
  width            : 100%;
  box-shadow       : 0px 2px 4px rgba(0, 0, 0, 0.38);
  border-radius    : 0 0 10px 10px;
  font-size        : 18px;
  background-color : $white;
  overflow         : hidden;
  z-index          : 1;
  height           : 150px;
  overflow-y       : scroll;
  font-family      : $mainFont;

  p {
    padding        : 1em;
    font-size      : 0.85em;
    text-transform : unset;
    user-select    : none;
    cursor         : pointer;
  }

  p:hover {
    background-color : $light;
  }

  &.notVisible {
    display : none;
  }
}

.input-container.overflow {
  overflow : visible;
}

.car {
  display         : flex;
  justify-content : center;
  align-content   : center;
  flex-direction  : row;
  width           : 40%;

  p {
    margin-right : 2em;
    color        : $greyDark;
    font-family  : $mainFont;
  }

  .switch {
    display  : inline-block;
    position : relative;
    width    : 70px;
    height   : 30px;
    cursor   : pointer;

    input {
      position : absolute;
      top      : -30px;
      left     : -30px;
      width    : 0;
      height   : 0;

      & + span {
        position      : absolute;
        top           : 0;
        bottom        : 0;
        left          : 0;
        right         : 0;
        background    : $secondary;
        border-radius : 20px;
      }

      & + span:before {
        content         : "";
        font-family     : $mainFont;
        position        : absolute;
        display         : flex;
        justify-content : center;
        align-items     : center;
        top             : 50%;
        left            : -4px;
        width           : 45px;
        height          : 42px;
        background      : $white;
        box-shadow      : 0px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius   : 50%;
        transform       : translateY(-50%);
        transition      : all .5s;
      }

      &:checked {
        + span {
          background : $gradientDarkToLight;
        }

        + span:before {
          left    : 34px;
          content : "Oui";
        }
      }
    }
  }
}

.sr-only {
  position : absolute;
  width    : 1px;
  height   : 1px;
  padding  : 0;
  margin   : -1px;
  overflow : hidden;
  clip     : rect(0, 0, 0, 0);
  border   : 0;
}