.js-calendar {
  font-family : $mainFont;
  user-select : none;

  .header {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    margin-bottom   : 1.5rem;

    .current-month {
      font-size   : 1.5rem;
      font-weight : 600;
    }

    .buttons {
      display         : flex;
      justify-content : space-around;
      align-items     : center;
      width           : 10rem;

      i {
        display         : flex;
        justify-content : center;
        align-items     : center;
        font-size       : 1.5rem;
        cursor          : pointer;
        width           : 2.5rem;
        height          : 2.5rem;
        border-radius   : 10px;
        //box-shadow      : 0px 2px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }


  .container-dates {
    background-color : $light;
    border-radius    : 10px;
    height           : 100%;
    width            : 100%;


    .weekdays {
      display         : flex;
      justify-content : space-around;
      align-items     : center;
      margin          : 1.5rem 0 0 0;
      padding-top     : 1.5rem;
      color           : $primaryDark;
      font-weight     : 600;

      .weekday {
        font-size : 1.2rem;
      }
    }

    .days {
      display         : flex;
      justify-content : space-around;
      align-items     : center;
      flex-wrap       : wrap;
      margin          : 1.5rem 0 0 0;

      .row {
        display         : flex;
        justify-content : space-around;
        align-items     : center;
        width           : 100%;
      }

      .day {
        display          : flex;
        justify-content  : center;
        align-items      : center;
        width            : calc(100% / 7);
        aspect-ratio     : 1/1;
        cursor           : pointer;
        background-color : $white;
        margin           : 1px;
        position         : relative;

        .day-number {
          position    : absolute;
          top         : 5%;
          right       : 5%;
          font-size   : 1.5em;
          font-weight : 600;
        }

        .day-rdv {
          position         : absolute;
          left             : 5%;
          top              : 50%;
          background-color : $primaryWhite;
          padding          : 0.2rem;
          text-align       : center;
          width            : 85%;
          transform        : translateY(-50%);
        }


        &.--today {
          background-color : $primaryDark;
          color            : white;

            .day-rdv {
                color : black;
            }

        }

        &.--disabled {
          .day-number {
            color : $greyLight;
          }

          background-color : $light;
          color            : $black;
          cursor           : not-allowed;
        }

        &:hover:not(.--disabled) {
          background-color : $secondary;
            .day-number {
                color : white;
            }
        }
      }
    }
  }
}
