/* Shadow */
$boxShadowOut      : 0px 2px 4px 1px rgba(0, 0, 0, 0.38);
$boxShadowIn       : inset 0px 2px 4px 1px rgba(0, 0, 0, 0.38);

/* Border radius */
$borderRadius      : 25px;
$borderRadiusSmall : 10px;


/* Fonts */
$titleFont         : "Poppins", sans-serif;
$mainFont          : "Open Sans", sans-serif;

/* Screen variables */
$screenXs          : 480px;
$screenSm          : 768px;
$screenMd          : 992px;
$screenLg          : 1280px;
$screenXl          : 1440px;

@import "tools/mixins";
@import "tools/typos";

// Import du style de tous outils (mixins, fonctions, variables)
@import "tools/responsive";
@import "tools/scrollBar";

// Import du style de toutes les pages
@import "pages/home";
@import "pages/search";
@import "pages/inscription-intervenant";
@import "pages/my-account";

// Import du style de tous les composants
@import "components/buttons";
@import "components/inputs";
@import "components/header";
@import "components/footer";
@import "components/popups";
@import "components/link";

.icon {
  background              : $gradientIcon;
  -webkit-background-clip : text;
  -webkit-text-fill-color : transparent;
  padding                 : 1px;
  font-size               : 1.5rem;

  &-w {
    color     : white;
    padding   : 1px;
    font-size : 1.5rem;
  }
}

.banner_bg {
  content : $srcBackgroundBanner;
}
p.error {
  color      : red;
  text-align : center;
  font-family: $mainFont;
  font-weight: 600;
}