@import "tools/reset.css";
@import "variables";

// Import du style de tous outils (mixins, fonctions, variables)
@import "tools/icons";
@import "tools/responsive";
@import "tools/typos";
@import "tools/scrollBar";

// Import du style de toutes les pages
@import "pages/home";
@import "pages/search";

// Import du style de tous les composants
@import "components/buttons";
@import "components/inputs";
@import "components/header";
@import "components/footer";
@import "components/popups";
@import "components/link";


// A supprimer : juste pour lister
.list {
  margin  : 3em 1em;
  display : flex;

  a {
    margin : 1em;
  }
}

body {
  overflow-x : hidden;
}