.hp {
  &__banner {
    display         : flex;
    justify-content : center;
    width           : 100vw;
    height          : 100vh;
    align-items     : center;

    img {
      position : absolute;
      top      : 0;
      left     : 0;
      z-index  : -1;
      width    : 100vw;
      height   : 100vh;
    }

    &-text {
      display               : grid;
      grid-template-areas   : "title img";
      grid-gap              : 5%;
      grid-template-columns : 1fr 1fr;

    }

    &-title {
      grid-area    : title;
      align-self   : center;
      padding-left : 2rem;

      h1 {
        font-size     : 5em;
        font-weight   : 700;
        color         : $white;
        margin-bottom : 1.5rem;
      }

      p {
        font-size   : 2em;
        font-weight : 500;
        line-height : 1.5;
        color       : $white;
        font-family : $titleFont;

        @include max-width($screenLg) {
          font-size : 1.5em;
        }
      }
    }

    &-img {
      grid-area     : img;
      padding-right : 2em;

      @include max-width($screenLg) {
        svg {
          width : 500px;
        }
      }
    }

    &-inputs {
      margin-top : 1.5rem;

      form{
        display: flex;
      }

      &-list {
        display : flex;
      }

      .input-container {
        &:not(:last-child) {
          margin-right : 1rem;
        }

        &:last-child {
          width : 170px;
        }
      }

      a {
        margin-top : 1.5rem;
      }

      button{
        margin-left : 1rem;
      }
    }
  }

  &__content {
    margin-bottom : 15rem;

    &_row {
      display    : grid;
      grid-gap   : 5%;
      margin-top : 15em;
      padding    : 0 4em;

      @include max-width($screenLg) {
        grid-template-columns : 1fr 1fr;
        svg {
          width : 500px;
        }
        &-text {
          width : 500px;
        }
      }

      @include min-width($screenLg) {
        grid-template-columns : 1fr 1fr;
      }

      &-text {
        display         : flex;
        flex-direction  : column;
        justify-content : center;
        align-items     : flex-start;
        padding         : 2rem 0;

        a {
            margin-top : 1.5rem;
        }

        h1 {
          font-size     : 3em;
          font-weight   : 700;
          color         : $black;
          margin-bottom : 1.5rem;
          text-align    : center;
        }

        p {
          font-size   : 1.2em;
          font-weight : 500;
          line-height : 1.5;
          color       : $secondary;
          font-family : $titleFont;
          width       : 70%;
        }
      }
    }

    &-pilule {
      position : absolute;

      i {
        position : absolute;
      }

      &-1 {
        top  : -2em;
        left : 95em;
      }

      &-2 {
        top       : -2em;
        left      : 55em;
        transform : rotate(120deg) scale(0.7);
      }

      &-3 {
        top       : 22em;
        left      : 90em;
        transform : rotate(-26.5deg) scale(0.8);
      }

      &-4 {
        top       : 40em;
        left      : 5em;
        transform : scale(0.9);
      }

      &-5 {
        top       : 47em;
        left      : 38em;
        transform : rotate(60deg) scale(0.6);
      }

      &-6 {
        top       : 70em;
        left      : 35em;
        transform : rotate(120deg) scale(0.7);
      }
    }
  }
}
