.myaccount, .wrapper {
  background-color : $light;
  padding-top      : calc(130px + 2.5rem);
  padding-bottom   : 12.2rem;

  h1 {
    text-align : center;
  }

  &__content {
    margin-top            : 2.35rem;
    display               : grid;
    grid-gap              : 2rem;
    grid-template-columns : 1fr;
    grid-template-areas   : "nav" "body";
    @include min-width($screenMd) {
      grid-template-areas   : "nav body .";
      grid-template-columns : 20rem 1fr 50px;
    }
    @include min-width($screenLg) {
      grid-template-areas   : "nav body .";
      grid-template-columns : minmax(12.5rem, 25.8rem) minmax(500px, 1500px) minmax(12.5rem, 25.8rem);
    }

    &__nav {
      grid-area : nav;
      width     : 25.8rem;

      ul {
        position : sticky;
        top      : 100px;
      }

      li {
        &:not(:last-child) {
          margin-bottom : 0.5rem;
        }
      }

      &-link {
        font-family     : $mainFont;
        font-weight     : 600;
        font-size       : 1em;
        text-decoration : none;
        color           : $black;
        display         : flex;
        justify-content : flex-start;
        align-items     : center;
        padding         : 0.5rem 0 0.5rem 5rem;
        transition      : all .3s ease-in-out;
        position        : relative;


        & > i {
          margin-left    : 0.6rem;
          pointer-events : none;
          @include icon-color($black);
          transition     : all .3s ease-in-out;
        }

        &.--active {
          color : $primaryLight;

          &::before {
            content          : "";
            position         : absolute;
            left             : 0;
            top              : 0;
            bottom           : 0;
            margin           : auto;
            height           : 50%;
            background-color : $primaryLight;
            width            : 45px;
            border-radius    : 0 50px 50px 0;
          }

          & > i {
            @include icon-color($primaryLight);
          }
        }

        &:hover {
          color : $primaryLight;

          & > i {
            @include icon-color($primaryLight);
          }
        }
      }
    }

    &__body {
      grid-area     : body;
      padding       : 1.85rem 2.53rem;
      background    : white;
      border-radius : 10px;
      //box-shadow    : 0px 2px 4px rgba(0, 0, 0, 0.25);
      @include max-width($screenMd) {
        @include mx(2.5);
      }

      h2 {
      }

      &-form {
        .js-account-content {
          display : none;

          &.--display {
            display : block;
          }

        }
      }
    }
  }

  &__form {
    &-title {
      margin-bottom : 1.2rem;
    }

    &-subtitle {
      font-family   : $mainFont;
      font-weight   : 400;
      color         : $greyDark;
      margin-bottom : 1.2rem;
      line-height   : 1.5;
    }

    &-alert {
      display     : flex;
      align-items : center;

      p {
        font-family : $titleFont;
        font-weight : 400;
        font-size   : 1.5rem;
        color       : $redDark;
        margin-left : .5rem;
        line-height : 2;
      }

      & > i {
        @include icon-color($redDark);
      }
    }

    &__perso {
      text-align : center;

      &__infos, &__adresses, &__security {
        margin                : 2.4rem 0;
        display               : grid;
        grid-template-columns : 1fr 1fr;
        grid-gap              : 2rem 3.2rem;
        box-sizing            : border-box;
        @include max-width($screenSm) {
          grid-template-columns : 1fr;
        }

        .input-container {
          width : 100%;
        }
      }

      &__adresses {
        .input-container {
          &:nth-child(2) {
            grid-row : 2;
          }
        }
      }
    }

    &__intervenant {
      display               : grid;
      grid-template-columns : 1fr 1fr;
      grid-gap              : .3rem 3.2rem;
      margin                : 2.4rem 0;

      .car {
        width           : 100%;
        align-items     : center;
        justify-content : flex-start;
      }

      &__item {
        &__vehicule {
          width            : 100%;
          background-color : $white;
          display          : flex;
          justify-content  : center;
          align-items      : center;
          flex-direction   : column;
          border-radius    : $borderRadiusSmall;

          #img-vehicule {
            width      : 90%;
            height     : 15rem;
            object-fit : contain;
          }

          &__label {
            font-family : $mainFont;
            font-weight : 600;
            font-size   : 1.5rem;
            color       : $black;
            margin      : 1.2rem 0;
          }
        }

        &__emprunter {
          width           : 100%;
          height          : 100%;
          display         : flex;
          justify-content : space-between;
          flex-direction  : column;

          .btn-emprunter {
            width  : 100%;
            margin : 0;
          }
        }

        &.--choices {
          grid-column-start : 2;
          grid-row          : 1 / 3;
        }

        &.--vehicles {
          grid-row : 1 / 4;
        }
      }

      &__oldEmprunts {
        margin-top : 5rem;

        &__table {
          width       : 100%;
          font-family : $mainFont;

          thead {
            color         : $primaryDark;
            font-weight   : 600;
            border-bottom : solid $greyLight 1px;

            tr {
              td {
                padding : 0 0 1rem 0;
              }
            }
          }

          tbody {
            color       : $black;
            font-weight : 400;

            tr {
              td {
                padding : 1rem 0;
              }
            }
          }
        }
      }
    }

    .btn:not(.btn-emprunter) {
      margin     : auto;
      margin-top : 2.4rem;
    }
  }

  &__pfp {
    margin-top            : 1rem;
    display               : grid;
    grid-template-columns : 1fr 1fr;

    p {
      font-family : $mainFont;
      font-weight : 500;
      font-size   : 1rem;
      color       : $black;
      margin      : 1.2rem 0;
    }

    img {
      max-width     : 200px;
      outline       : 2px solid $black;
      border-radius : 5px;
    }

    &__original {
      position : relative;

      &::after {
        width            : 84px;
        height           : 84px;
        content          : '';
        position         : absolute;
        top              : calc(50% - 25px);
        right            : 20%;
        background-image : url("data:image/svg+xml,%3Csvg width='84' height='84' viewBox='0 0 84 84' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_979_4863)'%3E%3Cpath d='M80.92 34.6851L67.375 21.0001C67.0496 20.6721 66.6625 20.4117 66.236 20.234C65.8095 20.0563 65.352 19.9648 64.89 19.9648C64.428 19.9648 63.9705 20.0563 63.544 20.234C63.1175 20.4117 62.7304 20.6721 62.405 21.0001V21.0001C61.7531 21.6559 61.3872 22.543 61.3872 23.4676C61.3872 24.3923 61.7531 25.2794 62.405 25.9351L74.865 38.5001H3.5C2.57174 38.5001 1.6815 38.8689 1.02513 39.5253C0.368749 40.1816 0 41.0719 0 42.0001H0C0 42.9284 0.368749 43.8186 1.02513 44.475C1.6815 45.1314 2.57174 45.5001 3.5 45.5001H75.075L62.405 58.1351C62.077 58.4605 61.8166 58.8476 61.6389 59.2741C61.4612 59.7006 61.3697 60.1581 61.3697 60.6201C61.3697 61.0822 61.4612 61.5396 61.6389 61.9662C61.8166 62.3927 62.077 62.7798 62.405 63.1051C62.7304 63.4332 63.1175 63.6936 63.544 63.8713C63.9705 64.0489 64.428 64.1404 64.89 64.1404C65.352 64.1404 65.8095 64.0489 66.236 63.8713C66.6625 63.6936 67.0496 63.4332 67.375 63.1051L80.92 49.5251C82.8863 47.5564 83.9908 44.8876 83.9908 42.1051C83.9908 39.3226 82.8863 36.6539 80.92 34.6851V34.6851Z' fill='%23257466'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_979_4863'%3E%3Crect width='84' height='84' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }

    &__display {
      img {
        border-radius : 50%;
      }
    }

    &__input {
      margin-top : 2rem;

      p {
        font-family : $mainFont;
        font-weight : 500;
        font-size   : 1rem;
        color       : $black;
        margin      : 1rem 0;
      }
    }
  }

  &__cancelUnsubscribe {
    display         : flex;
    justify-content : space-between;
    flex-direction  : column;
    align-items     : center;
    height          : 8rem;
  }
}