.prendreRdv {
  background-color : $light;
  padding-top      : calc(130px + 2.5rem);
  padding-bottom   : 12.2rem;

  h1 {
    text-align      : center;
    display         : flex;
    justify-content : center;
    align-items     : center;

    i {
      font-size : 2.5rem;
    }

    .small {
      font-size : 1.2rem;

      span {
        color : $primaryLight;
      }
    }
  }

  &__content {
    display         : flex;
    justify-content : center;
    align-items     : flex-start;
    padding         : 2.5rem 0;
    max-width       : 65em;
    margin          : auto;

    &__body {
      width         : 100%;
      padding       : 1.85rem 2.53rem;
      background    : white;
      border-radius : 10px;
      //box-shadow    : 0px 2px 4px rgba(0, 0, 0, 0.25);
      @include max-width($screenMd) {
        @include mx(2.5);
      }

      &__card {
        display       : flex;
        align-items   : center;
        margin-bottom : 1.5rem;
        font-family   : $mainFont;

        &-img {
          width         : 5rem;
          height        : 5rem;
          border-radius : 50%;
          overflow      : hidden;

          img {
            width      : 100%;
            height     : 100%;
            object-fit : cover;
          }
        }

        &-info {
          margin-left : 1.5rem;

          .name {
            font-size   : 1.5rem;
            font-weight : 600;
          }

          .speciality {
            font-size : 1.2rem;
            margin    : .5em 0;

            span {
              color : $primaryLight;

              &:not(:last-child)::after {
                content : ', ';
              }
            }
          }
        }
      }

      &-form {
        .js-account-content {
          display : none;

          &.--display {
            display : block;
          }
        }

      }
    }
  }


  &.success {
    .small span {
      color : $greenPrimary;
    }

    .prendreRdv__content__body {
      display         : flex;
      justify-content : space-around;
      align-items     : center;
      height          : 50vh;
      gap: 2.5rem;

      svg {
        width  : 30em;
        height : auto;
      }

      &__info {
        display         : flex;
        flex-direction  : column;
        justify-content : space-around;
        align-items     : flex-start;
        height          : 100%;
        width           : 50%;
        text-align      : start;
        font-family     : $mainFont;

        h1 {
          text-align : start;
          display    : block;
          color      : $black;

          span {
            color : $primaryDark;
          }
        }

        h3 {
          font-size : 1.5rem;
          color     : $greyDark;
        }

        p {
          font-size : 1.5rem;
          color     : $black;

          span {
            font-weight : bold;
          }

        }
      }
    }
  }
}