$orangeNote      : #E55006;
$greenNote       : #3C9933;
$orangeLightNote : #FEF5F0;
$greenLightNote  : #F7FEF6;

.noteFrais {
  &--empty {
    &__content {
      display         : flex;
      justify-content : center;
      align-items     : center;
      flex-direction  : column;
      font-family     : $titleFont;

      &--title {
        font-size   : 1em;
        text-align  : center;
        margin      : 2rem 0;
        line-height : 1.5;

        p:first-child {
          font-weight : 600;
        }
      }
    }
  }

  &__row {
    width           : 100%;
    display         : flex;
    justify-content : flex-end;
    align-items     : center;
    font-family     : $titleFont;

    &.new {
      margin-bottom : 4rem;
    }

    &.prepare {
      margin-top : 4rem;
    }

    &--total {
      height          : 100%;
      display         : flex;
      justify-content : space-between;
      align-items     : flex-end;
      flex-direction  : column;
      margin-right    : 1rem;
      line-height     : 1.5;

      span {
        font-size   : 1.4rem;
        font-weight : 600;
      }
    }
  }


  &__table {
    width           : 100%;
    border-collapse : collapse;
    border-spacing  : 0;
    color           : $black;
    font-family     : $titleFont;
    font-weight     : 400;

    thead {
      td {
        vertical-align : middle;
        padding        : 0 0 2rem 0;
        font-weight    : 500;
      }
    }

    td {
      text-align     : center;
      vertical-align : middle;
      padding        : .8em;
    }


    &__content {

      &--Atraiter:hover .noteFrais__table__content--trash a,
      &--Adeclarer:hover .noteFrais__table__content--trash a {
        opacity : 1;
      }

      &--Atraiter {
        color : $orangeNote;

        &__tag span {
          background-color : $orangeLightNote;
        }

        &:hover {
          background-color : $orangeLightNote;
        }
      }

      &--Adeclarer {
        color : $greenNote;

        &__tag span {
          background-color : $greenLightNote;
        }

        &:hover {
          background-color : $greenLightNote;
        }
      }

      &--trash {
        position : relative;

        a {
          position        : absolute;
          top             : 50%;
          right           : -2.5rem;
          transform       : translateY(-50%);
          display         : flex;
          justify-content : center;
          align-items     : center;
          border-radius   : $borderRadiusSmall;
          cursor          : pointer;
          padding         : 0.5rem;
          opacity         : 0;
          text-decoration : none;

          .icon {
            background-color : $redDark;
          }

        }
      }


      &--tag {
        span {
          width           : 5rem;
          border-radius   : 5rem;
          font-size       : 0.8rem;
          display         : flex;
          align-items     : center;
          justify-content : center;
          font-weight     : 600;
          margin          : auto;
          padding         : 0.5rem 0.8rem;
        }
      }

      &--comment {
        display         : flex;
        justify-content : space-evenly;
        align-items     : center;

        .icon-container {
          position : relative;
          display  : inline-block;

          .icon {
            cursor : pointer;
          }

          .noteFrais__table__content--comment__message {
            visibility       : hidden;
            width            : 200px;
            background-color : #333;
            color            : #fff;
            text-align       : center;
            border-radius    : 6px;
            padding          : 5px;
            position         : absolute;
            z-index          : 11;
            bottom           : 125%;
            left             : 50%;
            transform        : translateX(-50%);
            opacity          : 0;
            transition       : opacity 0.3s;

            .tooltip-content {
              display : block;
              margin  : 0;
            }
          }

          .image-message {
            left      : auto;
            right     : 50%;
            transform : translateX(50%);
          }

          &:hover {
            .noteFrais__table__content--comment__message {
              visibility : visible;
              opacity    : 1;
            }
          }
        }

      }
    }


    &--title {
      background-color : $primaryWhite;
      color            : $black;
      text-align       : center;
      font-size        : 1em;
      padding          : 10px;

      &__content {
        display         : flex;
        justify-content : flex-start;
        align-items     : center;

        span {
          font-weight      : bold;
          background-color : $greenLight;
          border-radius    : 50%;
          width            : 20px;
          height           : 20px;
          display          : flex;
          justify-content  : center;
          align-items      : center;
          padding          : 0.2rem;
          margin-right     : 1rem;
        }
      }
    }
  }
}


#sidebar-add-depense {
  position         : fixed;
  top              : 0;
  right            : 0;
  width            : 100%;
  height           : 100%;
  background-color : rgba(0, 0, 0, 0.3);
  visibility       : hidden;
  z-index          : 20;
  transition       : all 0.3s ease-in-out;
  opacity          : 0;

  &--content {
    box-sizing       : border-box;
    position         : fixed;
    top              : 0;
    right            : -60%;
    width            : 60%;
    height           : 100%;
    background-color : $primaryWhite;
    padding          : 20px;
    transition       : right 0.3s ease-in-out;

    button.close-btn {
      border           : none;
      outline          : none;
      cursor           : pointer;
      background-color : transparent;

      .icon {
        font-size : 2rem;
      }
    }

    &__form {
      display               : grid;
      grid-template-columns : 40% 60%;
      grid-gap              : 1rem;
      height                : 100%;
      font-family           : $mainFont;


      &--container {
        display        : flex;
        flex-direction : column;
      }

      &--title {
        display         : flex;
        justify-content : space-between;
        align-items     : flex-start;
        font-size       : 1.8rem;
        font-weight     : 600;
        color           : $black;
        height          : 1.8em;
        flex            : inherit;
      }

      &__inputs {
        display       : block;
        border        : 1px solid $greyDark;
        border-radius : $borderRadiusSmall;
        flex          : inherit;

        .sidebar-add-depense-row {
          display : flex;

          &__content {
            display         : flex;
            justify-content : center;
            align-items     : flex-start;
            flex-direction  : column;
            padding         : 0.5rem 1rem;
            width           : 100%;
            font-size       : 1.2rem;
            font-weight     : 600;
            color           : $black;

            label {
              font-size     : 1rem;
              margin-bottom : 0.5rem;
            }

            &:not(.commentaire) {
              border-bottom : 1px solid $greyDark;
            }

            &:not(:last-child) {
              border-right : 1px solid $greyDark;
            }

            label:not(.notRequired):after {
              content : " *";
              color   : red;
            }

            &--inputNature {
              display         : flex;
              justify-content : center;
              align-items     : center;
              width           : 100%;

              i {
                margin-right : 0.5rem;
              }
            }


            &--input {
              border           : none;
              outline          : none;
              cursor           : pointer;
              background-color : transparent;
              width            : 100%;
              font-size        : 1.1rem;

            }

            textarea {
              resize     : vertical;
              min-height : 100px;
              max-height : 400px;
            }
          }
        }
      }

      &__justificatif {
        display         : flex;
        justify-content : center;
        align-items     : flex-start;
        border          : 1px solid $greyDark;
        border-radius   : $borderRadiusSmall;

        .justificatif--content {
          margin-top      : 5rem;
          display         : flex;
          justify-content : flex-start;
          align-items     : center;
          flex-direction  : column;
          text-align      : center;
          line-height     : 1.5;

          input {
            display : none;
          }

          label {
            margin           : 1rem 0;
            padding          : 1rem 4rem;
            background-color : $white;
            border-radius    : $borderRadiusSmall;
            cursor           : pointer;
          }

          label:hover {
            background-color : $greenLight;
          }
        }
      }

      &--btnSubmit {
        flex            : 1;
        display         : flex;
        justify-content : flex-end;
        align-items     : flex-end;

        &__row {
          display         : flex;
          justify-content : flex-end;
          align-items     : center;
          flex            : 1;
        }
      }
    }
  }
}
