<section>
   {% for note in noteFrais %}
      <p>
         {{ note.idNoteFrais }}
         {{ note.dateNote }}
         {{ note.status }}
         {{ dump(note.getAdministration()) }}
      </p>
   {% endfor %}
</section>