<section id="notificationModal" class="notification">
    <div class="notification__tag">
        <i class="icon-w icon-w icon-fi-rr-info"></i>
        <div class="notification__content">
            <p></p>
        </div>
    </div>
    <i class="notification__close icon-b icon-fi-rr-cross-small"></i>
</section>