<section class="admin__sidebar">
    <div class="admin__sidebar__head">
        <div class="admin__sidebar__title">
            <h2>G.A.P.M</h2>
            <p>
                Personnel
            </p>
        </div>
    </div>
    <div class="admin__sidebar__content">
        <nav class="admin__nav">
            <ul>
                <li>
                    <a href="#" {% if nav == 'home' %}class="--active"{% endif %}>
                        {% include 'svg/house.svg' %}
                        Accueil
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-fi-rr-doctor"></i>
                        Gestion des praticiens
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-fi-rr-receipt"></i>
                        Notes de frais
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-fi-rr-car"></i>
                        Emprunts de véhicules
                    </a>
                </li>

            </ul>
        </nav>
    </div>
    <div class="admin__sidebar__footer">
        <ul>
            <li>
                <a href="./?action=logout"><i class="icon-fi-rr-user"></i>Se déconnecter</a>
            </li>
        </ul>
    </div>
</section>