<section class="admin__sidebar">
    <div class="admin__sidebar__head">
        <h2>G.A.P.M</h2>
    </div>
    <div class="admin__sidebar__content">
        <nav class="admin__nav">
            <ul>
                <li>
                    <a href="#">Accueil</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="admin__sidebar__footer">

    </div>
</section>