*::selection {
  background : $primaryLight;
  color      : $white;
}

h1 {
  font-family : $titleFont;
  font-weight : 700;
  color       : $black;
  font-size   : 32px;
}

h2 {
  font-family : $titleFont;
  font-weight : 700;
  color       : $black;
  font-size   : 24px;
}
h3 {
  font-family : $titleFont;
  font-weight : 500;
  color       : $black;
  font-size   : 20px;
}


.text {
  &__underline {
    position : relative;
    display  : inline-block;

    &::after {
      content          : "";
      transition: all .3s ease-out;
      position         : absolute;
      bottom           : 7.5px;
      z-index          : -1;
      left             : 0;
      right            : 0;
      margin           : auto;
      width            : 100%;
      height           : 10px;
      background-color : $secondary;
    }


    &-light {
      position : relative;
      display  : inline-block;

      &::after {
        content          : "";
        position         : absolute;
        bottom           : 5px;
        z-index          : -1;
        left             : 0;
        right            : 0;
        margin           : auto;
        width            : 100%;
        height           : 15px;
        background-color : $secondary;
        transition       : width 0.3s ease;
      }
    }

  }

  &__light {
    font-weight : 400;
  }

  &__bold{
    font-weight: 600;
  }

  &__white{
    color: #ffffff !important;
  }

  &__primary{
    color: $primaryLight;
  }
  &__small{
    font-size: 1rem;
    color: grey;
    font-weight: 500;
  }
}

p{
  font-family: $mainFont;
}


