{% extends "base.twig" %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
	<div class="about wrapper">
        <h1>A propos</h1>
        <div class="about__container">
            <div class="about__content">
				<h3>
					Nous sommes une équipe passionnée de développement web qui a créé cette application dans le cadre de
					notre projet de Licence Professionnelle Programmation Internet et Systèmes Mobiles à l’Université Paris
					Saclay.
				</h3>
				<br>
				<p>
					Notre objectif était de concevoir une solution innovante pour répondre aux besoins spécifiques des
					prestataires des services à la personne et leurs demandeurs de services, tout en désignant une
					application qui simplifie son utilisation via l’automatisation de tous les processus possibles.
				</p>
				<p>
					Nous avons mis en pratique nos connaissances approfondies en matière de conception et de développement web
					pour créer une application intuitive et fonctionnelle. Notre grande motivation nous a permis de comprendre
					les défis auxquels sont confrontées les entreprises du secteur des services à la personne et de concevoir
					une solution sur mesure pour les aider à gérer efficacement leur activité.
				</p>
				<p>
					Notre équipe est composée de développeurs talentueux et créatifs, qui ont travaillé en étroite
					collaboration pour réaliser cette application. Nous avons utilisé les dernières technologies et bonnes
					pratiques de développement pour garantir la qualité, la sécurité et la fiabilité de notre application.
				</p>
				<p>
					Nous sommes fiers du résultat final : une application web conviviale qui permet aux intervenants, aux
					demandeurs de services et au personnel administratif de collaborer de manière harmonieuse. Notre application
					offre des fonctionnalités avancées telles que la gestion des plannings la mise à disposition des
					statistiques détaillées pour une meilleure prise de décision.
				</p>
				<p>
					Nous comprenons l'importance de fournir un support de qualité à nos utilisateurs. Notre équipe est
					disponible pour répondre à vos questions, résoudre les problèmes techniques et prendre en compte vos
					suggestions d'amélioration. Votre satisfaction est notre priorité absolue.
				</p>
				<p>
					Nous sommes ravis de vous présenter notre application de gestion pour les services à la personne et nous
					espérons qu'elle apportera une réelle valeur ajoutée à votre entreprise. Nous sommes impatients de
					travailler avec vous et de vous accompagner dans votre réussite.
					<br><br>
					L'équipe de développement web.
				</p>
			</div>
		</div>
	</div>
{% endblock %}

