<!DOCTYPE html>
<html lang="fr">
	<head>
		<link rel="stylesheet" href="assets/prod/css/main.min.css">
		<title>{% block title %}{% endblock %} • GAPM</title>
	</head>
	<body class="{% if isIntervenant %}intervenant{% else %}demandeur{% endif %} {% block type %}{% endblock %}">
<div id="loader"></div>
	{% if not no_header %}
		{% include "includes/header.twig" %}
	{% endif %}
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		{% include "includes/footer.twig" %}
		<i id="popUp-connexion">{% include 'includes/popupConnexion.twig' %}</i>
		<i id="popUp-inscription">{% include 'includes/popUpInscription.php' %}</i>
		<script src="assets/prod/js/main.min.js"></script>
	</body>
</html>

