{% extends "base.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="sample__container -search wrapper">
        <h1>Foire aux Questions (FAQ)</h1>
        <h2>
            1. Quel est l'objectif de cette application web ?
        </h2>
        <p>
            Cette application web a été développée dans le but de fournir une solution de gestion autonome entre les demandeurs de services et les prestataires de ceux-ci dans le secteur des services à la personne. Grâce à cette application, la coordination entre les demandeurs de services, les intervenants qui les assurent et le personnel administratif est simplifié et rendue plus efficace.
        </p>
        <h2>
            2. Comment fonctionne G.A.P.M ?
        </h2>
        <div>
            L'application web vous permet de gérer efficacement votre activité selon les étapes suivantes :
            <ul>
                <li>
                    Les prestataires de services peuvent s'inscrire sur l'application et devenir des intervenants, après avoir passé le processus de recrutement établit dans G.A.P.M Une fois recrutés, les prestataires doivent indiquer les services qu'ils proposent et accèdent à leur planning d'intervention. Toutes les informations nécessaires sur les personnes chez qui ils interviennent, y compris les adresses, sont disponibles. Les intervenants doivent signaler toute impossibilité de se rendre à une intervention le plus tôt possible (de préférence une semaine à l'avance) afin de prévoir un remplacement. Les demandes de modification de planning peuvent également être soumises via l'application. Les intervenants peuvent choisir d'utiliser leur propre véhicule ou utiliser une voiture de l'entreprise, et le cas échéant, déclarer leurs frais de déplacement pour être remboursés selon un tarif prédéfini.
                </li>
                <li>
                    Les personnes en quête de services peuvent s'inscrire sur l'application en précisant leurs besoins, leurs disponibilités hebdomadaires et même laisser des commentaires sur les services qu’ils ont reçus. Ils ont également accès au planning des intervenants et peuvent soumettre des demandes relatives à leur propre emploi du temps, y compris les modifications d'horaires. En ce qui concerne le payement des services, les demandeurs ne sont pas responsables du paiement direct aux intervenants, celui-ci est fait à travers de la plateforme G.A.P.M, qui agit comme intermédiaire.
                </li>
                <li>
                    Le personnel administratif, avec une connexion spécifique, joue un rôle clé dans la gestion des plannings d'intervention. Il a également la responsabilité de gérer les frais de déplacement, les déclarations aux services sociaux pour les rémunérations des intervenants, et de traiter les demandes relatives aux plannings émanant des différentes parties prenantes. Le personnel administratif peut également accéder aux informations personnelles des intervenants et des demandeurs, leur permettant de les modifier ou de les supprimer si nécessaire.
                </li>
            </ul>
        </div>
        <h2>
            3. Quelles sont les fonctionnalités principales que l'application offre ?
        </h2>
        <div>
            Les fonctionnalités clés offertes comprennent :
            <ul>
                <li>
                    Inscription et gestion des demandeurs de services et des prestataires de services
                </li>
                <li>
                    Planification et coordination des interventions
                </li>
                <li>
                    Gestion des frais de déplacement et des remboursements
                </li>
                <li>
                    Déclarations aux services sociaux pour les rémunérations des intervenants
                </li>
                <li>
                    Communication et demandes de modification du planning via l'application
                </li>
                <li>
                    Accès aux statistiques et informations détaillées pour l'administrateur
                </li>
            </ul>
        </div>
        <h2>
            4. Comment obtenir plus d'informations sur cette application web ?
        </h2>
        <p>
            Pour obtenir des informations complémentaires sur l’application web de gestion pour les services à la personne G.A.P.M, veuillez nous contacter à travers du lien « Nous contacter » situé au pied de la page de l’application. Nous serons ravis de répondre à toutes vos questions et de discuter en détail des fonctionnalités de l'application adaptées à vos besoins.
        </p>
        <h2>
            5. Quelle est la politique de tarification de cette application web ?
        </h2>
        <p>
            Pour obtenir des informations détaillées sur notre politique de tarification et discuter des options disponibles, veuillez nous contacter par e-mail à XXXXXXX@XXXXXX.XXX ou par téléphone au +33 X XX XX XX XX. Notre équipe commerciale se fera un plaisir de vous fournir tous les détails concernant les coûts et les modalités de paiement.
        </p>
        <h2>
            6. Comment s’inscrire sur G.A.P.M ?
        </h2>
        <p>
            Il suffit, dans la page d’accueil de l’application ( https://gapm.louis-lubineau.fr/ ) de cliquer sur le bouton « S’inscrire », situé dans le coin supérieur droit de l’écran, renseigner les informations demandées dans le formulaire et cliquer sur le bouton « S’inscrire » pour valider votre demande d’inscription.
            En ce qui concerne les prestataires de services, sur le formulaire d’inscription, vous devez cliquer sur le lien « Voir Formulaire » pour accéder au formulaire d’inscription des prestaires de service, renseigner les informations demandées dans le formulaire et cliquer sur le bouton « S’inscrire » pour valider votre demande d’inscription en tant que prestataire des services. Vous pouvez aussi cliquer ici https://gapm.louis-lubineau.fr/?action=inscription-intervenant#form pour aller directement dans ce formulaire d’inscription.
            N'hésitez pas à nous contacter si vous avez d'autres questions ou si vous souhaitez organiser une démonstration personnalisée de notre application web.
        </p>
   </div>

{% endblock %}