{% extends "base.twig" %}

{% block title %}
	{{ title }}
{% endblock %}

{% block type %}
	{{ type }}
{% endblock %}

{% block content %}
	<section class="hp__banner">
		<img class="banner_bg" alt="Banner">

		<section class="hp__banner-text">
			<section class="hp__banner-title">
				<h1 class="text__underline">G.A.P.M</h1>
				<p class="home-title">
					Rechercher un prestataire<br>
					<span class="text__underline">correspondant à vos besoins.</span>
				</p>
				<section class="hp__banner-inputs">
					<form method="get">
						<input type="hidden" name="action" value="search">
						<div class="hp__banner-inputs-list">
							<div class="input-container">
								<i class="icon icon-fi-rr-search"></i>
								<input id="name-query" class="input" type="text" name="s_name"/>
								<label class="label" for="name-query">Nom, spécialité</label>
							</div>
							<div class="input-container">
								<i class="icon icon-fi-rr-location-alt"></i>
								<input id="city-query" class="input AC input_ville" name="s_city" type="text"/>
								<label class="label" for="city-query">Ville</label>
								<div class="notVisible auto_completion" ></div>
							</div>
						</div>
						<button type="submit" class="btn btn-primary-nb">Rechercher</button>
					</form>
				</section>
			</section>
			<section class="hp__banner-img">
				{% include 'svg/illu_banner.svg' %}
			</section>
		</section>
	</section>

	<section class="hp__content">
		<div class="hp__content-pilule">
			<i class="hp__content-pilule-1">{% include "svg/pilule.svg" %}</i>
			<i class="hp__content-pilule-2">{% include "svg/pilule.svg" %}</i>
			<i class="hp__content-pilule-3">{% include "svg/pilule.svg" %}</i>
			<i class="hp__content-pilule-4">{% include "svg/pilule2.svg" %}</i>
			<i class="hp__content-pilule-5">{% include "svg/pilule2.svg" %}</i>
			<i class="hp__content-pilule-6">{% include "svg/pilule2.svg" %}</i>
		</div>
		<section class="hp__content_row">
			<section class="hp__content_row-img">
				{% include 'svg/illu_home_content.svg' %}
			</section>

			<section class="hp__content_row-text">
				<h1>Vous êtes <span class="text__underline-light">demandeur ?</span></h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					et
					dolore
					magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
					ea
					commodo consequat.
				</p>
				<a href="/?action=search" class="btn btn-primary">En savoir +</a>
			</section>
		</section>

		<section class="hp__content_row">
			<section class="hp__content_row-text">
				<h1>Vous êtes <span class="text__underline-light">praticien ?</span></h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					et
					dolore
					magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
					ea
					commodo consequat.
				</p>
				{% if userLogged %}
					<a href="/?action=my-account" class="btn btn-primary">Remplir le formulaire</a>
				{% else %}
					<a href="/?action=inscription-intervenant&intervenant=1" class="btn btn-primary">Remplir le formulaire</a>
				{% endif %}
			</section>
			<section class="hp__content_row-img">
				{% include 'svg/illu_home_content2.svg' %}
			</section>
		</section>
	</section>
{% endblock %}