{% extends "base.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block type %}
    {{ type }}
{% endblock %}

{% block content %}
    <section class="inscr_intervenant__banner">
        <a href="/" class="btn btn-greenLight"><i class="icon icon-fi-rr-arrow-left"></i> Retour à l'accueil</a>
        <div class="row">
            <div>
                <h1>Vous souhaitez </br> exercer votre <span class="text__underline-light">métier ?</span></h1>
                <h2>N'attendez plus, postulez dès maintenant.</h2>
                <a class="btn btn-primary-nb" href="#form">S'inscrire dès maintenant !</a>
            </div>
            <div>
                {% include 'svg/illu_banner.svg' %}
            </div>
        </div>
    </section>
    <section class="inscr_intervenant__form" id="form">
        <form action="">
            <h2 class="text__underline-light">Inscription Pro</h2>

            <div class="inscr_intervenant__form-container-row">
                <div class="input-container">
                    <i class="icon icon-fi-rr-text"></i>
                    <input id="name" class="input" type="text" required/>
                    <label class="label" for="name">Votre nom</label>
                </div>
                <div class="input-container">
                    <i class="icon icon-fi-rr-text"></i>
                    <input id="first-name" class="input" type="text" required/>
                    <label class="label" for="first-name">Votre Prénom</label>
                </div>
            </div>

            <div class="inscr_intervenant__form-container-row">
                <div class="input-container">
                    <i class="icon icon-fi-rr-at"></i>
                    <input id="e-mail" class="input" type="text" required/>
                    <label class="label" for="e-mail">Votre adresse e-mail</label>
                </div>
                <div class="input-container">
                    <i class="icon icon-fi-rr-calendar"></i>
                    <input id="birthday" class="input" type="date" required/>
                    <label class="label" for="birthday">Votre date de naissance</label>
                </div>
            </div>
            <div class="inscr_intervenant__form-container-row">
                <div class="input-container">
                    <i class="icon icon-fi-rr-home-location-alt"></i>
                    <input id="adress" class="input" type="text" required/>
                    <label class="label" for="adress">Votre adresse (Numéro, Rue)</label>
                </div>
            </div>
            <div class="inscr_intervenant__form-container-row">
                <div class="input-container">
                    <i class="icon icon-fi-rr-map-marker"></i>
                    <input id="ville" class="input" type="text" required/>
                    <label class="label" for="ville">Ville</label>
                </div>
                <div class="input-container">
                    <i class="icon icon-fi-rr-thumbtack"></i>
                    <input id="cp" class="input" type="text" required/>
                    <label class="label" for="cp">Code postal</label>
                </div>
            </div>
            <div class="inscr_intervenant__form-container-row">
                <div class="input-container">
                    <i class="icon icon-fi-rr-key"></i>
                    <input id="mdp-insc" class="input" type="text" required/>
                    <label class="label" for="mdp-insc">Votre mot de passe</label>
                </div>
                <div class="input-container">
                    <i class="icon icon-fi-rr-phone-call"></i>
                    <input id="tel" class="input" type="text" required/>
                    <label class="label" for="tel">Téléphone portable</label>
                </div>
            </div>
            <div class="separator">
                <div></div>
            </div>
            <div class="inscr_intervenant__form-container-row">
                <div class="input-container">
                    <i class="icon icon-fi-rr-doctor"></i>
                    <input id="specialite" class="input" type="text" required/>
                    <label class="label" for="specialite">Vos spécialités</label>
                    <div id="auto_completion" class="notVisible"></div>
                </div>

                <div class="car">
                    <p>Demande de voiture </br> de fonction</p>
                    <label class="switch">
                        <input type="checkbox"/>
                        <span></span>
                    </label>
                </div>
            </div>
            <div id="tag-container">
                <p>Vos choix :</p>
                <div class="container"></div>
            </div>

            <button class="btn btn-primary-nb" type="submit">
                <i class="icon-w icon-fi-rr-user-add"></i>
                S'inscrire
            </button>
        </form>

    </section>

{% endblock %}