{% extends "base.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block type %}
    {{ type }}
{% endblock %}

{% block content %}
    <section class="inscr_intervenant__banner">
        <a href="/" class="btn btn-greenLight"><i class="icon icon-fi-rr-arrow-left"></i> Retour à l'accueil</a>
        <div class="row">
            <div>
                <h1>Vous souhaitez </br> exercer votre <span class="text__underline-light">métier ?</span></h1>
                <h2>N'attendez plus, postulez dès maintenant.</h2>
                <a class="btn btn-primary-nb" href="#form">S'inscrire dès maintenant !</a>
            </div>
            <div>
                {% include 'svg/illu_banner.svg' %}
            </div>
        </div>
    </section>
    <section class="inscr_intervenant__form" id="form">
        <form method="post" action="?action=register-user">
            <h2 class="text__underline-light">Inscription Pro</h2>

            <div class="inscr_intervenant__form-container-row">
                <div class="input-container">
                    <i class="icon icon-fi-rr-text"></i>
                    <input id="first-name" class="input" type="text" name="firstname" required/>
                    <label class="label" for="first-name">Prénom</label>
                </div>
                <div class="input-container">
                    <i class="icon icon-fi-rr-text"></i>
                    <input id="name" class="input" type="text" name="lastname" required/>
                    <label class="label" for="name">Nom</label>
                </div>
            </div>

            <div class="inscr_intervenant__form-container-row">
                <div class="input-container">
                    <i class="icon icon-fi-rr-at"></i>
                    <input id="e-mail" class="input" type="email" placeholder=" " name="mail" required/>
                    <label class="label" for="e-mail">E-mail</label>
                </div>
                <div class="input-container">
                    <i class="icon icon-fi-rr-calendar"></i>
                    <input id="birthday" class="input" type="date" name="birthday" required/>
                    <label class="label" for="birthday">Date de naissance</label>
                </div>
            </div>
            <div class="inscr_intervenant__form-container-row">
                <div class="input-container">
                    <i class="icon icon-fi-rr-home-location-alt"></i>
                    <input id="adress" class="input" type="text" name="address" required/>
                    <label class="label" for="adress">Adresse (num, rue)</label>
                </div>
            </div>
            <div class="inscr_intervenant__form-container-row">
                <div class="input-container">
                    <i class="icon icon-fi-rr-map-marker"></i>
                    <input id="ville" class="input AC input_ville" type="text" required/>
                    <label class="label" for="ville">Ville</label>
                    <input id="hiddenValueCityIntervenant" name="city" type="number" hidden="hidden" required/>
                    <div class="notVisible auto_completion"></div>
                    <span class="code_postal"></span>
                </div>
                <div class="input-container">
                    <i class="icon icon-fi-rr-venus-mars"></i>
                    <select id="sexe" class="input" type="text" name="sexe" required>
                        <option value="" disabled selected></option>
                        <option value="M">Homme</option>
                        <option value="F">Femme</option>
                        <option value="A">Autre</option>
                    </select>
                    <label class="label" for="sexe">Sexe</label>
                </div>
            </div>
            <div class="inscr_intervenant__form-container-row">
                <div class="input-container">
                    <i class="icon icon-fi-rr-key"></i>
                    <input id="mdp-insc" class="input" type="password" name="password" required/>
                    <label class="label" for="mdp-insc">Mot de passe</label>
                    <i class="icon icon-fi-rr-eye-crossed js-iconEyePassword"></i>
                </div>
                <div class="input-container">
                    <i class="icon icon-fi-rr-phone-call"></i>
                    <input id="tel" class="input" type="text" name="phone" required/>
                    <label class="label" for="tel">Téléphone</label>
                </div>
            </div>
            <div class="separator">
                <div></div>
            </div>
            <div class="inscr_intervenant__form-container-row">
                <div class="input-container">
                    <i class="icon icon-fi-rr-doctor"></i>
                    <input id="specialite" class="input AC input_specialite" type="text"/>
                    <label class="label" for="specialite">Spécialités</label>
                    <div class="notVisible auto_completion"></div>
                    <input id="hiddenValueSpecialites" type="hidden" name="specialites" value="null">
                </div>
                <div class="input-container">
                    <i class="icon icon-fi-rr-text"></i>
                    <input id="adressPro" class="input" type="text" name="adressePro" required/>
                    <label class="label" for="adressPro">Adresse Pro</label>
                </div>
            </div>

            <div class="input-container overflow">
                <i class="icon icon-fi-rr-map-marker"></i>
                <input id="villePro" class="input AC input_ville" type="text" required/>
                <label class="label" for="villePro">Ville</label>
                <input id="hiddenValueCityProIntervenant" name="cityPro" type="number" hidden="hidden" required/>
                <div class="notVisible auto_completion"></div>
                <span class="code_postal"></span>
            </div>
            <div id="tag-container">
                <p>Vos choix :</p>
                <div class="container"></div>
            </div>

            {% if error is not empty and containerError is not empty and containerError == "inscription-intervenant" %}
                <p class="error">{{ error }}</p>
            {% endif %}
            <button class="btn btn-primary-nb" type="submit">
                <i class="icon-w icon-fi-rr-user-add"></i>
                S'inscrire
            </button>
        </form>
    </section>

{% endblock %}