<section class="myaccount__form" id="form">
    <h2 class="myaccount__form-title">Devenir intervenant</h2>
    <p class="myaccount__form-subtitle">Votre demande pour être intervenant a bien été pris en compte.</p>
    <p class="myaccount__form-subtitle">Vous recevrez un mail de confirmation dès que votre demande aura été traitée. Il est susceptible que vous soyez appelé par téléphone ou que vous receviez un mail pour définir un rendez-vous.</p>
</section>


