<section class="myaccount__form" id="form">
	<form action="">
		<h2 class="myaccount__form-title">Devenir intervenant</h2>
		<div class="myaccount__form__intervenant">
			<div class="myaccount__form__intervenant__item">
				<p class="myaccount__form-subtitle">Choissisez vos domaînes de compétences :</p>
				<div class="input-container overflow">
					<i class="icon icon-fi-rr-doctor"></i>
					<input id="specialite" class="input AC input_specialite" type="text"/>
					<label class="label" for="specialite">Vos spécialités</label>
					<div class="notVisible auto_completion"></div>
					<input id="hiddenValueSpecialites" type="hidden" name="specialites" value="null">
				</div>
			</div>
			<div class="myaccount__form__intervenant__item">
				<div id="tag-container">
					<p>Vos choix :</p>
					<div class="container"></div>
				</div>
			</div>
		</div>
		<button class="btn btn-primary" type="submit">
			<i class="icon-w icon-fi-rr-check"></i>
			Postuler en tant que praticien
		</button>
	</form>
</section>
