{% extends "base.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block type %}
    {{ type }}
{% endblock %}

{% block content %}

    <section class="myaccount">
        <h1>Mon compte</h1>
        <div class="myaccount__content">
            <div class="myaccount__content__nav">
                <ul>
                    <li>
                        <a href="#" class="myaccount__content__nav-link">
                            <span>Informations personnelles</span>
                            <i class="icon icon-fi-rr-info"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="myaccount__content__nav-link">
                            <span>Devenir intervenant</span>
                            <i class="icon icon-fi-rr-redo"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="myaccount__content__nav-link --active">
                            <span>Options</span>
                            <i class="icon icon-fi-rr-comment-user"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="myaccount__content__body">
                <div class="myaccount__content__body-form">
{#
                    {% include '/demandeur/compte/perso.twig' %}
                    {% include '/demandeur/compte/intervenant.twig' %}
#}
                    {% include '/demandeur/compte/options.twig' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}