{% extends "base.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block type %}
    {{ type }}
{% endblock %}

{% block content %}

    <section class="myaccount">
        <h1>Mon compte</h1>
        <div class="myaccount__content">
            <div class="myaccount__content__nav">
                <ul>
                    {% if modeIntervenant == false %}
                    <li>
                        <a href="#perso"
                           class="js-account-nav myaccount__content__nav-link --active">
                            Informations personnelles
                            <i class="icon icon-fi-rr-info"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if user is defined and not user.isIntervenant() %}
                        <li>
                            <a href="#intervenant"
                               class="js-account-nav myaccount__content__nav-link">
                                Devenir intervenant
                                <i class="icon icon-fi-rr-redo"></i>
                            </a>
                        </li>
                    {% elseif  user is defined and user.isIntervenant() and modeIntervenant %}
                        <li>
                            <a href="#intervenant"
                               class="js-account-nav myaccount__content__nav-link --active">
                                Informations professionnelle
                                <i class="icon icon-fi-rr-redo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#vehicule"
                               class="js-account-nav myaccount__content__nav-link">
                                Emprunt de véhicule
                                <i class="icon icon-fi-rr-car"></i>
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="#options"
                           class="js-account-nav myaccount__content__nav-link">
                            Options
                            <i class="icon icon-fi-rr-comment-user"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="myaccount__content__body">
                <div class="myaccount__content__body-form">
                    <div id="perso" class="js-account-content {% if modeIntervenant == false %}--display{% endif %}">
                        {% include '/demandeur/compte/perso.twig' %}
                    </div>
                    <div id="intervenant" class="js-account-content {% if modeIntervenant %}--display{% endif %}">
                        {% include '/demandeur/compte/intervenant.twig' %}
                    </div>
                    <div id="options" class="js-account-content">
                        {% include '/demandeur/compte/options.twig' %}
                    </div>
                    <div id="vehicule" class="js-account-content">
                        {% include '/demandeur/compte/vehicule.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}